@tailwind base;
@tailwind components;
@tailwind utilities;

/* font logo */
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

body {
  background-color: #13131a;
}

.pirata-one-regular {
  font-family: "Pirata One", serif;
  font-weight: 400;
  font-style: normal;
}